@import 'ext/solarized-light';

.highlight {
	background-color: #3b4252;
}

div.highlight {
	padding: 5px 20px;
}
pre.highlight, code {
	font-family: SF Mono, 'Consolas', Menlo, monospace;
	line-height: 1.4em;
	tab-size: 4;
}